
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button onclick="showPosition()">What am i doing here?</button>

<p id="Test">Loading...</p>


<script src="~/js/Weather.js" asp-append-version="true"></script>