@model ApiPlayground.Models.Root


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if(Model != null)
{
    <p>@Model.main.temp Kelvin if you want in Celsius well screw you</p>
}
else
{
    <p>Model is empty</p>
}