
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p id="Test">Loading...</p>

<input type="button" class="btn btn-primary" onclick="location.href='@Url.Action("OnGet", "Weather")'" Testing />

<script src="~/js/Weather.js" asp-append-version="true"></script>