@model IEnumerable<ApiPlayground.Models.Root>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--
<p id="Test">Loading...</p>
-->

<!--
<input type="button" class="btn btn-primary" onclick="location.href='@Url.Action("OnGet", "Weather")'" Testing />
-->
@if(Model != null)
{
    @foreach(var temp in Model)
    {
        <p>@temp.main.temp.ToString()</p>
    }
} else
{
    <p>Model has no value</p>
}


<!--
<script src="~/js/Weather.js" asp-append-version="true"></script>
-->