

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the API Playground for DillingData, this is where we will be testing different API's. You can find the API's that we are testing in the top menu.</p>
    <p>If you are interested in any of our services please check out our main <a href="https://www.dillingdata.se">website</a></p> 
</div>




<script src="~/js/Weather.js" asp-append-version="true"></script>